* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: rgb(122, 181, 64);
}

/* <<<<<<<<<<<<<<<<<<<<<<<Header>>>>>>>>>>>>>>>>>>>> */
header {
  padding: 10px 2rem 5px 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgb(122, 181, 64) 36%,
    rgba(59, 92, 26, 1) 98%
  );
  width: 100%;
  height: 85px;
}
.logo {
  width: 200px;
  background-color: #f5f5dc;
  border-radius: 100px;
  border: solid rgb(75, 121, 29);
}
.navbar {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar_ul {
  display: flex;
  gap: 3rem;
}
.navbar_iniciosesion {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Hero>>>>>>>>>>>>>>>>>>>> */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#conteiner_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  background-color: rgb(58, 92, 24);
  padding: 2rem;
  border-radius: 1.5rem;
}
.conteiner_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 40%;
}
.conteiner_hero_img {
  width: 60%;
  border-radius: 1rem;
}

/* <<<<<<<<<<<<<<<<<<<<<<<about>>>>>>>>>>>>>>>>>>>> */
#about {
  width: 600px;
  text-align: center;
}
.about_text {
  opacity: 0.5;
  text-align: center;
}
.about_span {
  display: block;
}
/* <<<<<<<<<<<<<<<<<<<<<<<beneficios>>>>>>>>>>>>>>>>>>>> */
#beneficios_section {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.beneficios-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.beneficios_info_tittle {
  opacity: 0.7;
}
.beneficios-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   flex-wrap: wrap;
 */
  gap: 1rem;
}
.beneficio {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: baseline;
  text-align: center;
  align-items: center;
  background-color: #a88661;
  height: 175px;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.7rem;
}
.beneficio img {
  width: 40px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<Productos>>>>>>>>>>>>>>>>>>>> */
#products_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products_conteiner {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.products {
  max-width: 320px;
  background-color: #a88661;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px;
  border-radius: 0.6rem;
  gap: 0.7rem;
}
.products_img {
  width: 250px;
  border-radius: 0.4rem;
  align-self: center;
}
.products_top {
  display: flex;
  justify-content: space-between;
  padding: 0px 1rem;
}
.products_mid {
  align-self: center;
}
.products_bot {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 0.4rem;
  background-color: #f5f5dc;
  border-radius: 0.4rem;
}
.products_ver_mas {
  align-self: center;
  margin-left: 10rem;
  width: 150px;
  background-color: #f5f5dc;
  border-radius: 4rem;
}
.ver_mas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Contacto>>>>>>>>>>>>>>>>>>>> */
#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  gap: 2rem;
}
.paseo_bogota {
  width: 60%;
  border-radius: 0.5rem;
}
.contact_conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.cards_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card_contactanos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.card_contactanos p {
  font-weight: 800;
  border-bottom: #000000 solid 1px;
}
.contacto_alineacion {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 3rem;
}
.redes_sociales {
  display: flex;
  gap: 2rem;
}
/* <<<<<<<<<<<<<<<<<<<<<<<Footer>>>>>>>>>>>>>>>>>>>> */
footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h3 {
  font-size: 4rem;
  font-family: cursive;
}
/* <<<<<<<<<<<<<<<<<<<<<<<inicio sesion>>>>>>>>>>>>>>>>>>>> */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 1rem;
}
.form_titulo {
  font-size: 2rem;
}
.form_input {
  width: 500px;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 1rem;
}
.btn_inicio_sesion {
  background-color: white;
  padding: 5px;
}
